@{
    ViewData["Title"] = "Bem vindo ao FaatCar";
}
<div class="text-center">
    <h1>@ViewData["Title"] <p></p> <p></p> <p></p> <p>Cadastro</p></h1>
</div>
<div class="text-center">
   
<div <p>  E-mail</p>
<div

<form>
    <input type ="email">
</form>
  
 <p>  Senha </p>

<form>
    <input type ="password">
</form>

<p>  Confirmar Senha </p>

<form>
    <input type ="password">
</form>
<p></p>
</div>
<input type ="submit" value=" serei motorista" class="submit" /> <input type ="submit" value=" serei passageiro" class="submit" />
   
                           
            

                            
