@{
    ViewData["Title"] = "Bem vindo ao FaatCar";
}
<div class="text-center">
    <h1>@ViewData["Title"] <p></p> <p></p> <p></p> <p>Login</p></h1>
</div>
<div class="text-center">

    <div
        <p>  E-mail </p>

<form>
    <input type ="email">
</form>

 <p>  Senha </p>

<form>
    <input type ="password">
</form>
<p></p>
</div>
    <p><input type="submit" value="Registre-se" class="submit" /></p>
    <input type="submit" value=" Esqueci a Senha" class="submit" />
